<?xml version="1.0"?>
<configuration>
	<connectionStrings>
  <add name="con" connectionString="Data Source=DUCDM200158;Initial Catalog=ELib;Integrated Security=true" />
  <add name="ELibConnectionString" connectionString="Data Source=DUCDM200158;Initial Catalog=ELib;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>

</configuration>
